@using LR3.Entities
@model Product

@{
    ViewData["Title"] = "Створити продукт";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("CreateProduct", "Home", FormMethod.Post))
{
    <p class="mt-3">Введіть назву продукту</p>
    @Html.TextBoxFor(t => t.Title, null, new { @class = "form-control" })

    <p class="mt-3">Введіть опис продукту</p>
    @Html.TextAreaFor(t => t.Description, 10, 20, new { @class = "form-control" })

    <p class="mt-3">Введіть ціну продукту</p>
    @Html.TextBoxFor(t => t.Price, null, new { @class = "form-control" })

    <p class="mt-3">Виберіть типу продукту</p>
    @Html.DropDownList("ProductType", Html.GetEnumSelectList(typeof(ProductType)), "Тип продукту", new { @class = "form-control" })

    <input class="mt-3 btn btn-success" type="submit" value="Створити">
}